<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Changes</title>
</head>
<body>
    <style>
        body {
          font-family: sans-serif;
          /* background-color: rgb(4, 7, 27); */
          background-image: linear-gradient(to right, rgb(4, 7, 27) 50%,   rgb(78, 126, 151));
    
        }
    
        input::file-selector-button {
          font-weight: bold;
          color: rgb(135, 206, 250);
          padding: 0.5em;
          background-color: rgb(4, 7, 27);
          /* border: thin solid grey; */
          border-radius: 20px;
        }
    
        .login-box {
          /* margin-top: 10rem; */
          /* position: absolute;
     
      left: 50%; */
          height: 70vh;
          position: relative;
          top: 10%;
          width: 40vw;
          padding: 40px;
          background: rgba(24, 20, 20, 0.987);
          box-sizing: border-box;
          box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
          border-radius: 50px;
        }
    
        .login-box .user-box {
          position: relative;
        }
    
        .login-box .user-box input {
          width: 100%;
          padding: 10px 0;
          font-size: 16px;
          color: rgb(4, 7, 27);
          margin-bottom: 30px;
          border: none;
          border-bottom: 1px solid rgb(4, 7, 27);
          outline: none;
          background: transparent;
        }
    
        .login-box .user-box label {
          position: absolute;
          top: 0;
          left: 0;
          padding: 10px 0;
          font-size: 18px;
          color: rgb(4, 7, 27);
          pointer-events: none;
          transition: .5s;
        }
    
        .login-box .user-box input:focus~label,
        .login-box .user-box input:valid~label {
          top: -20px;
          left: 0;
          color: rgb(4, 7, 27);
          font-size: 1rem;
        }
    
        .login-box form button {
          position: relative;
          display: inline-block;
          padding: 10px 20px;
          color: rgb(4, 7, 27);
          font-size: 1rem;
          text-decoration: none;
          text-transform: uppercase;
          overflow: hidden;
          transition: .5s;
          margin-top: 40px;
          letter-spacing: 4px
        }
    
        .login-box button:hover {
          background: rgb(4, 7, 27);
          ;
          color: rgb(4, 7, 27);
          border-radius: 5px;
          box-shadow: 0 0 5px rgb(4, 7, 27),
            0 0 10px rgb(4, 7, 27),
            0 0 20px rgb(4, 7, 27),
            0 0 20px rgb(4, 7, 27);
        }
    
        .login-box button span {
          position: absolute;
          display: block;
        }
        body {
            overflow-x: hidden !important;
            max-width: 100% !important;
            overflow-x: hidden !important;
        }
    
        @keyframes btn-anim1 {
          0% {
            left: -100%;
          }
    
          50%,
          100% {
            left: 100%;
          }
        }
    
        .login-box button span:nth-child(1) {
          bottom: 2px;
          left: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, transparent, rgb(4, 7, 27));
          animation: btn-anim1 2s linear infinite;
        }
    
        nav {
          /* background-color: ; */
          color: #fff;
          font-family: Arial, sans-serif;
          height: auto;
        }
    
        .nav-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem;
          margin-top: 0.3rem;
        }
    
        .nav-logo h1 {
          margin: 0;
          color: #00fefe;
          font-size: 2.5rem;
          padding-left: 2.7rem;
        }
    
        .nav-links {
          list-style: none;
          display: flex;
          font-size: 1.2rem;
          margin-top: 1.2rem;
          padding-right: 5rem;
        }
    
        .nav-links li {
          margin-right: 2.5rem;
        }
    
        .nav-links li a {
          color: #fff;
          text-decoration: none;
          padding: 0.5rem;
        }
    
        .nav-links li a.active {
          /* background-color: #666; */
          border-bottom: white solid 2px;
        }
    
        .nav-btn {
          display: none;
        }
        .burger-menu {
      display: none;
      cursor: pointer;
      flex-direction: column;
      justify-content: space-between;
      height: 20px;
    }
    
    .bar {
      width: 30px;
      height: 3px;
      background-color: #fff;
    }
    #footer-devchef{
        width: 100%;
        height: 17rem;
        background-image: linear-gradient(to right,rgb(21,27,61) 30% , rgb(78, 126, 151));
        /* background-color: rgb(14,17,26); */
        display: flex;
        flex-direction: row;
        padding-top: 4%;
        border-top-left-radius: 200px;
        justify-content:space-around;
    }
    
        @media screen and (max-width: 992px) {
          .copyright{
            position: relative;
        top: -140px;
        left: 120px;
          }
          #footer-devchef{
            height: 500px;
            border-top-left-radius: 100px;
            margin-top: -25%;
            flex-direction: column;
            justify-content:space-around;
          }
          #devchef-header{
            left: 39px;
        position: relative;
        top: -40px;
        font-size: 0.5rem !important;
          }
          #social-icons{
            position: relative;
        top: -120px;
        left: 40px;
          }
          .nav-links {
            display: none;
          }
    
          .nav-btn {
            display: block;
          }
    
    
          .nav-links.active {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 70px;
            left: 0;
            background-color: rgb(4,7,27);
            width: 100%;
          }
    
          .nav-links li {
            margin: 1rem;
          }
    
          .nav-links li a {
            padding: 1rem;
            text-align: center;
          }
    
          .nav-links li a.active {
            background-color: transparent;
          }
          .nav-links {
        display: none;
      }
    
      .burger-menu {
        display: flex;
      }
    
      .burger-menu.active {
    
        background-color:rgb(4,7,27);
      }
    
      .nav-links.active {
        display: flex;
        flex-direction: column;
        
      }
      .nav-links {
        display: none;
        transition: transform 0.3s ease; /* Added transition */
        transform: translateY(-100%);
        background-color: #333;
        color: #00fefe;
        font-family: sans-serif;
        position: absolute;
        top: 80px; /* Adjust as needed */
        left: 0;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
      }
    
      .nav-links.active {
        display: flex;
        font-size: 1rem;
        position: absolute;
        top: 50px;
      z-index: 1;
        flex-direction: column;
        transform: translateY(0);
      }
    
      .burger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
      }
    
      .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
      }
    
      .burger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
      }
      .section-1{
        display: block !important;
      }
      .header h1 {
        margin-top: 2%  !important;
        font-size: 2rem  !important;
        position: relative  !important;
        top: 2rem  !important;
        left: 3rem  !important;
    }
    .login-box{
      top: 0px !important;
      width: 90% !important;
      height: auto;
      left: 20px;
    }
    .nav-logo h1{
      padding-left: 0px;
    }
    .header{
      height: 15vh !important;
    }
        }
        .header {
          height: 20vh;
          color: white;
          font-family: cursive;
          /* text-align: center; */
    
        }
    
        .header h1 {
          margin-top: 2%;
          font-size: 3rem;
          position: relative;
          top: 15rem;
        }
    
        .section-1 {
          display: flex;
          height: 100vh;
          width: 100%;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
        }
        .loader-container {
          display: flex;
          justify-content: center;
          align-items: center;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgb(4, 7, 27);
          z-index: 9999;
          opacity: 1;
          transition: opacity 0.5s ease;
          /* Add the transition for smooth opacity change */
        }
    
        .spinner {
          position: absolute;
          width: 10px;
          height: 10px;
        }
    
        .spinner div {
          position: absolute;
          width: 50%;
          height: 150%;
          background: rgb(0, 249, 249);
          transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
          animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
        }
    
        .spinner div:nth-child(1) {
          --delay: 0.1;
          --rotation: 36;
          --translation: 150;
        }
    
        .spinner div:nth-child(2) {
          --delay: 0.2;
          --rotation: 72;
          --translation: 150;
        }
    
        .spinner div:nth-child(3) {
          --delay: 0.3;
          --rotation: 108;
          --translation: 150;
        }
    
        .spinner div:nth-child(4) {
          --delay: 0.4;
          --rotation: 144;
          --translation: 150;
        }
    
        .spinner div:nth-child(5) {
          --delay: 0.5;
          --rotation: 180;
          --translation: 150;
        }
    
        .spinner div:nth-child(6) {
          --delay: 0.6;
          --rotation: 216;
          --translation: 150;
        }
    
        .spinner div:nth-child(7) {
          --delay: 0.7;
          --rotation: 252;
          --translation: 150;
        }
    
        .spinner div:nth-child(8) {
          --delay: 0.8;
          --rotation: 288;
          --translation: 150;
        }
    
        .spinner div:nth-child(9) {
          --delay: 0.9;
          --rotation: 324;
          --translation: 150;
        }
    
        .spinner div:nth-child(10) {
          --delay: 1;
          --rotation: 360;
          --translation: 150;
        }
    
        @keyframes spinner-fzua35 {
    
          0%,
          10%,
          20%,
          30%,
          50%,
          60%,
          70%,
          80%,
          90%,
          100% {
            transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
          }
    
          50% {
            transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
          }
        }
        #devchef-header{
          width: max-content;
        }
        #devchef-header h1{
          width: max-content;
        }
        #social-icons{
          width: max-content;
        }
        .copyright{
          width: max-content;
        }
        .header{
          width: max-content;
        }
      </style>




    <div class="section-1">
        <div class="header">
    
          <h1 class="header-text"> Add Portfolio Items</h1>
        </div>
        <div style="background-color:lightskyblue" class="login-box">
    
          <form action="/form" method="post" enctype="multipart/form-data">
            <div class="user-box">
              <input type="text" name="name" required="" >
              <label style="color: rgb(4,7,27); font-weight: bold;">Name</label>
            </div>
            <div class="user-box">
              <input type="text" name="email" required="">
              <label style="color: rgb(4,7,27); font-weight: bold;">Email</label>
            </div>
            <div class="user-box">
              <input type="text" name="phoneNumber" required="">
              <label style="color: rgb(4,7,27); font-weight: bold;">Phone Number</label>
            </div>
    
            <div class="user-box">
              <label style="position: relative; bottom: 10px;color: rgb(4,7,27); font-weight: bold;">Profile Photo</label>
              <input type="file" name="photo" required="">
    
    
            </div>
            <div class="user-box">
               <textarea name="description" style="background-color: rgb(135,206,250);" placeholder="Description" cols="70" rows="2" required></textarea>
                
              </div>
            <div style="align-items: center;">
              <button style="background-color: RGB(4 7 27); border: none; margin-left: 1.8rem; color: rgb(135,206,250); border-radius: 20px;"
                type="submit">
                Submit
              </button>
            </div>
    
          </form>
        </div>
</body>
</html>